<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>

<body>
    {{!-- inject footer partail page: --}}
    {{> header}}

    <p>My projects</p>

    {{!-- inject footer partail page: --}}
    {{> footer}}

</body>

</html>